/* Este es el archivo principal de sass */
/* Importando todos los parciales de mis estilos */
/* Es importante el orden dev importacion */
/* Creacion de varable css sass */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /*Seccion cabecera */
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}

.header {
  background-color: black;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__marca {
  width: 180px;
  height: auto;
  padding-left: 3%;
}

.header__logo {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  border: solid brown;
  object-fit: cover;
}

.nav__lista {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* gap: 16px; */
  /* (px, rem), %, vh. vw */
  padding: 16px;
}

.nav__item {
  margin-left: 16px;
}

.nav__item {
  margin-left: 16px;
}

.nav__item--close {
  display: none;
}

.nav__enlace {
  color: white;
  text-decoration: none;
  position: relative;
  letter-spacing: 0.5px;
  padding: 0 10px;
}

/*.nav__enlace:hover {
    color: grey;
  }*/
.header__open {
  display: none;
  font-size: 40px;
  color: white;
  text-decoration: none;
}

.nav__enlace:after {
  content: "";
  position: absolute;
  background-color: white;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.nav__enlace:hover::after {
  width: 100%;
}

/*Seccion fondo y titulos inicio*/
.fondo {
  background-image: url(../imagenes/slider-2.png);
  height: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.titulo {
  color: white;
  text-align: center;
  font-size: 65px;
  text-shadow: -5px 10px 10px black;
  font-family: initial;
  width: 200px;
  height: 80px;
  padding-top: 9px;
  border: solid 9px white;
  border-radius: 45%;
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  margin: auto;
  display: block;
}

.titulo2 {
  color: white;
  font-family: initial;
  text-align: center;
  font-size: 30px;
  text-shadow: -5px 10px 10px black;
}

.contenedor_tex3 {
  border: solid 7px white;
  margin: auto;
  display: block;
  width: 100px;
  height: auto;
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom: 0px;
  border-style: dashed;
}

.contenedor_tex {
  padding-top: 4rem;
}

.contenedor_tex2 {
  padding: 0px;
  display: flex;
  justify-content: center;
  height: auto;
  margin-top: 13px;
}

/*Seccion titulos y fondo nosotros*/
.fondo2 {
  background-image: url(../imagenes/slider-4.png);
  height: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.titulo1 {
  color: white;
  text-align: center;
  font-size: 65px;
  text-shadow: -5px 10px 10px black;
  font-family: initial;
  width: 200px;
  height: 80px;
  padding-top: 10px;
  border: solid 10px white;
  border-radius: 45%;
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  margin: auto;
  display: block;
}

.titulo3 {
  color: white;
  font-family: initial;
  text-align: center;
  font-size: 34px;
  text-shadow: -5px 10px 10px black;
  margin: 0px;
}

.contenedor_text1 {
  padding-top: 2rem;
}

.contenedor_text2 {
  padding: 0px;
  display: flex;
  justify-content: center;
  height: auto;
  margin-top: 12px;
}

.cointent {
  width: 100%;
  height: 130px;
}

/*Seccion nosotros*/
.flex_contenedor {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 4rem;
  width: 75vw;
  min-width: 280px;
  gap: 20px;
  margin: auto;
}

.flex_contenedor div {
  margin: 5px;
  color: grey;
  font-size: 20px;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.imagen {
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  display: block;
  box-shadow: -15px -15px black;
  border: 15px solid chocolate;
  border-style: groove;
  border-style: ridge;
}

.cont1 {
  margin-top: 4rem;
}

.text {
  padding: 16px;
}

.text_producto1 {
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
}

.text_producto2 {
  font-size: 20px;
  color: grey;
}

.negrita1 {
  color: #212529;
}

.negrita2 {
  color: #212529;
}

.negrita3 {
  color: #212529;
}

.firma {
  color: #212529;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding-right: 5rem;
  font-family: 'Mrs Saint Delafield', cursive;
  font-size: 30px;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.23));
}

/*Seccion fondo ,titulos y videos desayunos*/
.video3 {
  margin: auto;
  display: block;
  width: 100%;
}

.fondo1 {
  background-image: url(../imagenes/slider-3.png);
  height: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

/*Seccion video */
.video {
  margin-top: 8%;
  object-fit: contain;
  background-image: url(../imagenes/contacto1.png);
}

.video1 {
  margin: auto;
  display: block;
  height: auto;
}

/*Seccion menu*/
.fondo3 {
  background-image: url(../imagenes/contacto2.png);
  height: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.card-body {
  color: white;
  background-color: #1f2023;
}

.text_menu1 {
  color: #1f2023;
}

.text_menu2 {
  color: #1f2023;
}

ul {
  margin-bottom: 0%;
  padding-left: 0%;
}

a:hover {
  color: white;
  text-decoration: none;
}

.nav_lista :hover {
  color: white;
  text-decoration: none;
}

.icono :hover {
  color: white;
}

.carousel-item img {
  height: 700px;
  object-fit: cover;
  opacity: 0.9;
}

.productos4 {
  text-align: center;
  margin: 0% 20%;
}

.productos3 {
  margin: 7% 1.3rem 5% 1.3rem;
}

.margen4 {
  height: 60px;
}

.flex-caption {
  position: absolute;
  top: 46%;
  text-align: center;
  width: 100%;
  font-size: 55px;
}

.btn-primary {
  background-color: sienna;
  border: #1f2023;
}

.btn-primary:hover {
  background-color: #988067;
}

.menupiazza {
  display: none;
}

/*Seccion botones*/
.boton2 {
  text-align: center;
}

.boton3 {
  color: white;
  text-decoration: none;
  background-color: #1f2023;
  border-radius: 25px;
  border: solid 7px #1f2023;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.23));
}

.boton {
  background-color: #1f2023;
  color: white;
  border: solid 6px #1f2023;
  border-radius: 25px;
  text-decoration: none;
  font-size: 17px;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.23));
}

.boton4 {
  text-align: center;
  padding-top: 16px;
}

h2 {
  margin: 16px;
  color: #1f2023;
}

/*Seccion productos*/
.productos2 {
  text-align: center;
  margin: 0% 20%;
}

.productos1 {
  margin: 7% 1.3rem 5% 1.3rem;
}

.cont_productos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5%;
}

.cont_productos img {
  border-radius: 10%;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.23));
  margin-bottom: 10%;
  width: 100%;
  transition: 0.5s;
  height: auto;
  object-fit: cover;
}

.cont_productos img:hover {
  transform: scale(1.1, 1.1);
}

.cont_productos h3 {
  text-align: center;
  color: #1f2023;
}

/* Seccion galeria */
.contenedor {
  width: 100%;
  display: flex;
  gap: 2px;
  margin-top: 8rem;
  overflow: hidden;
}

.contenedor img {
  width: 25%;
  height: 100%;
  object-fit: cover;
}

/*Seccion titulo contacto*/
.fondo4 {
  background-image: url(../imagenes/slider-2.png);
  height: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.contenedor_tex5 {
  color: white;
  font-family: initial;
  text-align: center;
  font-size: 34px;
  text-shadow: -5px 10px 10px black;
  margin: 0px;
  padding-top: 16px;
}

:root {
  --color-dark: #15181f;
  --color-dark-x: #2d343f;
  --color-dark-xx: #1f232b;
  --color-light: #ffffff;
  --color-grey: #f5f6f8;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  background-color: var(--color-grey);
  color: var(--color-light);
  letter-spacing: .05rem;
}

.bg-light {
  background-color: var(--color-light) !important;
}

.bg-dark {
  background-color: var(--color-dark) !important;
}

.p-6 {
  padding: 4rem 7rem;
}

.contact-box {
  padding: 3rem;
}

.btn {
  font-weight: 400;
  padding: 1rem 2rem;
  border-radius: 5rem;
  min-width: 10rem;
}

.btn-outline-dark {
  border: 2px solid var(--color-dark-xx);
}

.form-control {
  background-color: var(--color-dark-xx);
  border: 2px solid var(--color-dark-xx);
  border-radius: .2rem;
  padding: 1.5rem 1rem;
}

.register-bg {
  background-image: url(../imagenes/contacto2.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.testiomonial {
  bottom: 10px;
}

.contenedor_tex5 {
  color: white;
  font-family: initial;
  text-align: center;
  font-size: 34px;
  text-shadow: -5px 10px 10px black;
  margin: 0px;
  padding-top: 16px;
}

.btn-wsp {
  position: fixed;
  width: 50px;
  height: 50px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: #0df053;
  color: white;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.btn-wsp:hover {
  text-decoration: none;
  color: #0df053;
  background: white;
}

/*Seccion pie de pagina*/
.footer {
  background-color: #000;
  color: #fff;
  padding: 1rem;
  padding-top: 2rem;
}

.footer__contacto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1rem;
}

.footer__redes {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-right: 4rem;
  font-size: 30px;
}

.footer__marca {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #1f2023;
  padding: 2rem 0;
  margin-top: 2rem;
}

.footer__logo {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  border: solid brown;
  object-fit: cover;
}

.h4, h4 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: white;
}

/*footer contacto */
.footer1 {
  background-color: #000;
  color: #fff;
  padding: 1rem;
  padding-top: 2rem;
}

/*footer nosotros */
.footer2 {
  background-color: #000;
  color: #fff;
  padding: 1rem;
  margin-top: 7rem;
}

/*Seccion @media query*/
@media screen and (max-width: 1024px) {
  .flex_contenedor {
    flex-direction: column;
    height: auto;
    text-align: center;
  }
  .footer__marca {
    flex-direction: column;
    gap: 40px;
  }
  .header {
    flex-direction: column;
    flex-direction: row;
  }
}

@media (max-width: 300px) {
  .video {
    flex-direction: column;
    display: block;
  }
}

@media (max-width: 1083px) {
  .video1 {
    width: 75vw;
    min-width: 280px;
  }
  .contenedor_tex2 {
    width: 230px;
    height: 110px;
    /* border: solid 18px white;
        border-right-width: 0px;
        border-left-width: 0px;
        border-top-width: 0px;
        border-style: dashed;*/
    margin: auto;
    display: block;
    padding-top: 1rem;
  }
  .register-bg {
    min-height: 50vh;
  }
}

@media (min-width: 100px) {
  .cont_productos {
    flex-direction: column;
    padding-top: 16px;
    gap: 16px;
  }
}

@media (min-width: 430px) {
  /*600px*/
  .cont_productos {
    flex-direction: row;
    height: 250px;
    /*none*/
  }
}

@media (min-width: 1023px) {
  .cont_productos img {
    flex-direction: row;
    height: 200px;
  }
  .text {
    text-align: justify;
  }
}

@media screen and (max-width: 1400px) {
  .firma {
    padding-top: 2rem;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.23));
  }
  .footer2 {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 300px) {
  .boton2 {
    padding: 16px;
  }
  .redess {
    font-size: 19px;
    padding-bottom: 16px;
  }
  .titulo {
    font-size: 62px;
    height: 80px;
    width: 200px;
    padding-top: 10px;
  }
  .contenedor_tex2 {
    padding: 0px;
    display: flex;
    justify-content: center;
    height: auto;
    margin-top: 13px;
  }
  .titulo2 {
    font-size: 30px;
    margin: 0px;
  }
  .contenedor_tex3 {
    border: solid white 7px;
    width: 100px;
    margin-top: 16px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom: 0px;
    border-style: dashed;
  }
}

@media only screen and (max-width: 987px) {
  .contenedor {
    display: none;
  }
  .footer__contacto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
  .footer__redes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-right: 0%;
  }
  .footer1 {
    margin-top: 2rem;
  }
  .footer2 {
    margin-top: 2rem;
  }
  .firma {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-right: 0%;
    padding-top: 16px;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.23));
  }
}

@media only screen and (max-width: 750px) {
  .header__marca {
    width: 0px;
    height: auto;
    padding-left: 3%;
  }
}

@media only screen and (max-width: 700px) {
  .header_marca {
    width: 0;
  }
  .nav {
    display: none;
  }
  .header__open {
    display: block;
  }
  .texto_contacto {
    font-size: 21px;
  }
  #lateral {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    transition: right 1s;
  }
  #lateral:target {
    right: 0;
  }
  .nav__lista {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    text-align: center;
    font-size: 20px;
  }
  .nav__item--close {
    display: block;
  }
  .footer__logo {
    height: 90px;
    width: 90px;
  }
  .header__logo {
    height: 90px;
    width: 90px;
  }
  .carousel-item img {
    border: solid black 0px;
    object-fit: contain;
  }
  .productos2 {
    display: none;
  }
  .p-6 {
    padding: 2rem;
  }
  .contact-box {
    padding: 0;
  }
  .width-100 {
    width: 100%;
  }
  .fondo4 {
    margin-bottom: 3rem;
  }
  .text {
    text-align: left;
  }
  .productos1 {
    margin: 0;
  }
  .fono-cotacto {
    background-color: var(--color-dark) !important;
  }
  .flex-caption {
    position: absolute;
    top: 48%;
    text-align: center;
    width: 100%;
    font-size: 25px;
  }
  .margen1 {
    background-image: url(../imagenes/contacto1.png);
  }
  .menupiazza {
    display: block;
  }
  .firma {
    font-size: 24px;
  }
}
/*# sourceMappingURL=estilos.css.map */