
/*Seccion botones*/

.boton2{
    text-align: center;
    
    
}
.boton3{
    color: white;
    text-decoration: none;
    background-color: #1f2023;
    border-radius: 25px;
    border: solid 7px #1f2023; 
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.23));
}
.boton{
    background-color: #1f2023;
    color: white;
    border: solid 6px #1f2023;
    border-radius: 25px;
    text-decoration: none;
    font-size: 17px;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.23));
}
.boton4{
    text-align: center;
    padding-top: 16px;
}
h2{
    margin: 16px;
    color: #1f2023;
}
