/*Seccion fondo ,titulos y videos desayunos*/

.video3{
    margin: auto;
    display: block;
    width: 100%;
}
.fondo1{
    background-image: url(../imagenes/cafeteria-19.png);
    height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    
}