/*Seccion pie de pagina*/

.footer {
    background-color: #000;
    color: #fff;
    padding: 1rem;
      padding-top: 2rem;
      
  }
  
  .footer__contacto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 1rem;
    
  }
  
  .footer__redes {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-right: 4rem;
    font-size: 30px;
    
  }
  
  .footer__marca {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #1f2023;
    padding: 2rem 0;
    margin-top: 2rem;
    
  }
  .footer__logo {
    height:110px;
    width: 110px;
    border-radius: 50%;
    border: solid brown;
    object-fit: cover;
    
  }
  .h4, h4 {
    font-size: 1.5rem;   
  }
/*footer contacto */
.footer1 {
  background-color: #000;
  color: #fff;
  padding: 1rem;
    padding-top: 2rem;  
  }