*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    /*Seccion cabecera */
  }
  ul {
    margin-bottom: 0;
    padding-left: 0;
  }
  
  .header {
    background-color: #1f2023;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
 
  .header__marca {
    width: 180px;
    height: auto;
    padding-left:3%; 
  }
  
  .header__logo {
    height:110px;
    width: 110px;
    border-radius: 50%;
    border: solid brown;
    object-fit: cover;
  }
  .nav__lista {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 16px; */
    /* (px, rem), %, vh. vw */
    padding: 16px;
  }
  .nav__item {
    margin-left: 16px;
  }
  .nav__item {
    margin-left: 16px;
  }
  
  .nav__item--close {
    display: none;
  }
  
  .nav__enlace {
    color: white;
    text-decoration: none;
  }
  
  .nav__enlace:hover {
    color: grey;
  }
  .header__open {
    display: none;
    font-size: 40px;
    color: white;
    text-decoration: none;
  }