 /*Seccion @media query*/
 @media screen and (max-width: 1024px){
    .flex_contenedor{
        
        flex-direction: column;
        height: auto;
        text-align: center;
    }
    .footer__marca{
        flex-direction: column;
        gap:40px ;
      }
      .header{
        flex-direction: column;
        flex-direction: row;
    }
    
    
}
@media (max-width: 300px){
    .video{
        
        flex-direction: column;
display: block;

    
    }
   
}

@media (max-width: 1083px){
    .video1{
        
        
        width: 75vw;
        min-width: 280px;
    
    }
    .contenedor_tex2{
        width: 230px;
        height: 110px;
       /* border: solid 18px white;
        border-right-width: 0px;
        border-left-width: 0px;
        border-top-width: 0px;
        border-style: dashed;*/
        margin: auto;
        display: block;
        padding-top: 1rem;      
    } 
    .register-bg {
        min-height: 50vh;
    }
}


@media (min-width:100px){
    .cont_productos{
        flex-direction: column;
        padding-top: 16px;
        gap: 16px; 
       
    }    
}
@media (min-width:430px){/*600px*/
    .cont_productos {
        flex-direction: row;
        height: 250px;/*none*/
    }
   
}

@media (min-width:1023px){
    .cont_productos img{
        flex-direction: row;
        height: 200px;
        
    }
    .text{
        text-align: justify;
    }
   
}

@media screen and (max-width: 1250px){
    .firma{
        padding-top: 2rem;
        filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.23));
    }
}

@media screen and (min-width:300px){
    .boton2{
       padding: 16px;
    }
   .redess{
       font-size: 19px;
       padding-bottom: 16px;
   }
  
   .titulo{
       font-size: 62px;
       height: 80px;
       width: 200px;
       padding-top:10px;
       
   }
   .contenedor_tex2{
       padding: 0px;
       display: flex;
       justify-content: center;
       height:auto; 
       margin-top: 13px;      
       
   }
   .titulo2{
       font-size: 30px;
      margin: 0px;
   }
   .contenedor_tex3{
       border: solid white 7px;
       width: 100px;
       margin-top: 16px;
       border-right-width: 0px;
       border-left-width: 0px;
       border-bottom: 0px;
       border-style: dashed;
       
   }
   
   
}



@media only screen and (max-width: 987px){
.contenedor{
    display: none;
    
}
.footer__contacto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    
  }
  .footer__redes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-right: 0%;
  }
  .footer1{
    margin-top: 2rem;
}
  .footer2{
    margin-top: 2rem;
}
.firma{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-right: 0%;
    padding-top: 16px;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.23));
}

}
@media only screen and (max-width: 600px){

    .nav{
        display: none;
    }

    .header__open {
        display: block;
    }
    .texto_contacto{
        font-size: 21px;
        
        
    }
    #lateral {
        display: block;
        background-color: rgba(0, 0, 0, 0.8);
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        transition: right 1s;
        
      }
      #lateral:target {
        right: 0;
      }
     
      .nav__lista{
          height: 100%;
          flex-direction: column;
          justify-content: center;
          gap: 4rem;
          text-align: center;
          font-size: 20px;
      }
      .nav__item--close {
        display: block;
      }
      .footer__logo{
          height: 90px;
          width: 90px;
      }
      .header__logo{
        height: 90px;
        width: 90px;
      }
    .carousel-item img{
        
        border: solid black 0px; 
        object-fit: contain;
        
    }
    .productos2{
        display: none;
        
    } 
    .p-6 {
        padding: 2rem;
    }

    .contact-box {
        padding: 0;
    }

    .width-100 {
        width: 100%;
    }
    .fondo4{
        margin-bottom: 3rem;
    }
    .text{
        text-align: left;
    }
    .productos1{
        margin: 0;
    }
     .fono-cotacto{
        background-color: var(--color-dark)!important;
    }
    .flex-caption{
        position: absolute;
        top: 48%;
        text-align: center;
        width: 100%;
        font-size: 25px;
        
    }
    .margen1{
        background-image: url(../imagenes/contacto1.png);
    }
    .menupiazza{
        display: block;
    }
}   
   

