/*Seccion menu*/
.fondo3{
    background-image: url(../imagenes/contacto2.png);
    height:20rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;  
    }
    .card-body{
        color: white;
        background-color:#1f2023; ;
    }
    .text_menu1{
        color: #1f2023;
    }
    .text_menu2{
        color: #1f2023;
    }
    ul{
    margin-bottom: 0%;
    padding-left: 0%;
    }
    a:hover{
        color: white;
        text-decoration: none;
    }
    .nav_lista :hover{
        color: white;
        text-decoration: none;   
    }
    .icono :hover{
        color: white;
    }
    .carousel-item img{
        height: 700px;
        object-fit:cover;
        border: solid black 10px;
        
    }
    .productos4{
        text-align: center;
        margin: 0% 20%;
    }
    .productos3{
        margin: 7% 1.3rem 5% 1.3rem;
        
    }
    .margen1{
        background-image: url(../imagenes/contacto1.png);
    }
    .margen4{
       
        height: 60px;
        
    }