/*Seccion menu*/
.fondo3{
    background-image: url(../imagenes/contacto2.png);
    height:20rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;  
    }
    .card-body{
        color: white;
        background-color:#1f2023; ;
    }
    .text_menu1{
        color: #1f2023;
    }
    .text_menu2{
        color: #1f2023;
    }
    ul{
    margin-bottom: 0%;
    padding-left: 0%;
    }
    a:hover{
        color: white;
        text-decoration: none;
    }
    .nav_lista :hover{
        color: white;
        text-decoration: none;   
    }
    .icono :hover{
        color: white;
    }
    .carousel-item img{
        height: 700px;
        object-fit:cover;
        opacity: 0.9;
        
    }
    .productos4{
        text-align: center;
        margin: 0% 20%;
    }
    .productos3{
        margin: 7% 1.3rem 5% 1.3rem;
        
    }
       .margen4{
       
        height: 60px;  
    }
    .flex-caption{
        position: absolute;
        top: 46%;
        text-align: center;
        width: 100%;
        font-size: 55px;
    }
   
    .card{
        cursor: default;
        transition: all 400ms ease;
        border-radius: 6px;
    }
    .card:hover{
        box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
        transform: translateY(-3%);
        
    }
    .menupiazza{
        display: none;
    }
    