/*Seccion video */
.video{
    margin-top: 8%;
    object-fit: contain;
    background-image: url(../imagenes/contacto1.png);
    

}
.video1{
    margin: auto;
    display: block;
    height: auto;  
}